p{
    color: darkorange !important;  
    font-size: xx-large;
}
img{
    margin-top: 50px;
    border-radius: 50%;

}
table, th, td {
    border: 2px black solid;
    background-color: aqua;
    border-collapse: collapse;
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
    color: red;

    
    
}
th{ 
    background-color: lightgreen;
}
td{
    color: black;
}
