nav{
    background-color: aqua;
    padding: 1px;
}

li{
    display: inline;
}

ul{
    text-align: center;

}

a{
    text-decoration: none;
}
#home{
    text-align: center;
    background-color: antiquewhite;
    padding: 10px;

    
}

article > img{
    width: 100px;
    float: left;
    margin: 5px;
    
}
#blog{
    display: flex;
    width: auto;
}

footer{
    color: azure;
    background-color: grey;
    padding: 10px;
    text-align: center;
}   

main#login-container{
    background-color: rgb(179, 233, 236);
    padding: 3px;
    border-radius: 3px;

}